body {
  width: 100%;
  height: 100vh;
  background: url("../img/header2.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

main {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, 0.075);
  animation: navbar .5s; }

@font-face {
  font-family: FiraSans-M;
  src: url(../font/FiraSans-Medium.ttf); }

@font-face {
  font-family: FiraSans-E;
  src: url(../font/FiraSans-ExtraLight.ttf); }

@font-face {
  font-family: FiraSans-MT;
  src: url(../font/FiraSans-MediumItalic.ttf); }

@font-face {
  font-family: FiraSans-ET;
  src: url(../font/FiraSans-ExtraLightItalic.ttf); }

@font-face {
  font-family: FiraSans-T;
  src: url(../font/FiraSans-Thin.ttf); }

h1 {
  font-family: FiraSans-MT; }

h2 {
  font-family: FiraSans-MT; }

h3 {
  font-family: FiraSans-MT; }

h4 {
  font-family: FiraSans-MT; }

h5 {
  font-family: FiraSans-MT; }

h6 {
  font-family: FiraSans-MT; }

header {
  display: block;
  width: 100%;
  height: 100vh;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  header h1 {
    max-width: 50rem; }
  header p {
    font-family: FiraSans-ET;
    max-width: 70rem; }

footer {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, 0.075);
  animation: navbar .5s; }

nav {
  top: 0;
  background-color: rgba(221, 221, 221, 0);
  z-index: 9999; }
  @media (max-width: 991px) {
    nav {
      background: rgba(255, 255, 255, 0.65);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, 0.075);
      animation: navbar .5s; } }

.card {
  border: none;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.158); }
  @media (min-width: 991px) {
    .card .nav-img {
      bottom: -50px; }
    .card:hover .nav-img {
      bottom: 0px; } }
  .card .nav-img {
    transition: bottom .3s;
    bottom: -50px;
    z-index: 99;
    width: 100%;
    text-align: center;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, 0.075);
    animation: navbar .5s; }
  .card a {
    vertical-align: text-top !important;
    display: inline-block; }
  .card .img-card {
    min-height: 100px; }
    .card .img-card img {
      vertical-align: bottom !important;
      height: 100%; }
  @media (max-width: 991px) {
    .card .img-card {
      min-height: 300px !important; }
      .card .img-card img {
        width: 100%;
        height: auto; } }
  @media (max-width: 450px) {
    .card .img-card {
      min-height: 180px !important; } }

.swiper-slide .nav-img {
  margin-top: 5px; }

.social-networks a {
  margin: 0px 5px;
  width: 40px;
  height: 40px;
  font-size: 25PX;
  border-radius: 100%;
  color: #1d1d1d;
  border: 3px solid #1d1d1d;
  overflow: hidden;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .social-networks a i {
    position: relative;
    z-index: 9; }
  .social-networks a .back-icon {
    transition: top .2s;
    width: 100%;
    height: 100%;
    background-color: #1d1d1d;
    top: -40px;
    position: absolute;
    z-index: 8; }
  .social-networks a:hover {
    color: #fff; }
    .social-networks a:hover .back-icon {
      top: 0; }

.scroll-navbar {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, 0.075);
  animation: navbar .5s; }

@keyframes navbar {
  0% {
    top: -70px; }
  100% {
    top: 0px; } }

.sidebar {
  position: -webkit-sticky;
  position: sticky !important;
  top: 100px !important; }

.swiper-pagination {
  bottom: 0px !important; }
