header {
  width: 100%;
  height: 100vh;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  header h1 {
    max-width: 50rem; }
  header p {
    font-family: FiraSans-ET;
    max-width: 70rem; }
  header .btn-header {
    border: none;
    background: none;
    bottom: 30px; }
    header .btn-header i {
      font-size: 20px;
      color: #fff; }
    header .btn-header:focus {
      border: none;
      outline: none; }
