.scroll-navbar{
    background-color: $c-white;
}
.sidebar {
    position: -webkit-sticky;
    position: sticky !important;
    top: 100px !important;
}
.swiper-pagination{
    bottom: 0px !important;
}
.navbar-toggler{
    border: none;
    &:focus{
        box-shadow: none;
        @include shadow("sm");
    }
}
footer{
    #like_footer{
        i{
            color: $c-red;
            &:nth-child(2){
                animation: likeFooter 2.5s infinite;
                top: 2.5px;
                left: 0;
            }
        }
    }
}
@keyframes likeFooter {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}