.scroll-navbar{
    background-color: $c-white;
}
.sidebar {
    position: -webkit-sticky;
    position: sticky !important;
    top: 100px !important;
}
.swiper-pagination{
    bottom: 0px !important;
}
.navbar-toggler{
    border: none;
    &:focus{
        box-shadow: none;
        @include shadow("sm");
    }
}