@media only screen and (min-width: 576px) {
  nav .navbar-brand {
    padding: 0 0.7em; }
  nav .nav-link::after {
    right: 0; }
  nav .nav-link:hover::after {
    width: 100% !important; } }

@media (max-width: 991px) {
  nav {
    background: #fff; }
    nav a {
      color: #1d1d1d !important; }
  .card .img-card {
    min-height: 300px; } }

@media (max-width: 767px) {
  .writer .description {
    text-align: center; } }

@media (max-width: 450px) {
  .img-card {
    min-height: 200px !important; } }
