nav{
    top: 0;
    transition: top 0.3s ,box-shadow 0.3s;
    background-color: rgba(221, 221, 221, 0);
    z-index: 9999;
    .navbar-nav{
        .nav-link{
            position: relative;
            &:hover{
                color: $c-dark;
            }
            &::after{
                position: absolute;
                bottom: 0;
                left: 0;
                margin: auto;
                background-color: $c-dark;
                color: transparent;
                width: 0%;
                content: '';
                height: 3px;
                transition: all 0.5s;
            }
            &:hover{
                &::after{
                    width: 10%;
                }
            }
        }
    }
    .navbar-brand{
        padding: 0 !important;
    }
}
.card{
    .icons-card{
        font-size: 13px;
        color: rgb(92, 92, 92);
    }
    .img-sm{
        width: 40px;
        height: 40px;
    }
    @include shadow("md");
    border: none;
    .img-card{
        min-height: 100px;
        background-size: cover !important;
    }
    a{
        vertical-align: text-top !important;
        display: inline-block;
    }
}