{% load static %} {% load template_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article | {{ article.title_en|title }}</title>
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'blog/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/fontawesome-free-5.15.3-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/responsiv.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/pages/articel.css' %}">


    <!-- code snippet dependents -->
    <link rel="stylesheet"
        href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css' %}">
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>

</head>

<body>
    <div id="bg">
        <div id="bgItem" data-src="{{ article.thumbnail.url }}">

        </div>
    </div>
    <header class="thumbnail">

        <!-- navbar -->
        {% include 'partials/navbar.html' %}
        <!-- navbar end -->

        <div class="text-center header-img">
            <h1 class="w-100">
                {{ article.title_en|capfirst }}
            </h1>
            <div class="w-auto px-0">
                <div class="py-2 d-inline-block">
                    <i class="fas fa-calendar"></i>
                    <span class="pe-2">
                        {{ article.created|date:'Y/m/d' }}
                    </span>
                </div>
                <div class="py-2 d-inline-block">
                    <i class="fas fa-eye"></i>
                    <span class="pe-2">
                        {{ article.views }}
                    </span>
                </div>
                <div class="py-2 d-inline-block">
                    <i class="fas fa-user"></i>
                    <a class="pe-2 text-dark-all text-decoration-none" href="/{{ article.author.user_page_url }}">
                        {{ article.author.get_first_name }}
                    </a>
                </div>
                <div class="py-2 d-inline-block">
                    <i class="fas fa-clock"></i>
                    <span class="pe-2">
                        {{ article.readtime }}min
                    </span>
                </div>
            </div>
        </div>

    </header>
    <main class="py-5">
        <div class="container">
            <div class="row gx-md-5">

                <!-- col Left -->
                <div class="col-md-8 col-lg-9">
                    <section>
                        <div class="row justify-content-center articel-header-img">
                            <div class="col-9 col-sm-7 text-center">
                                <img src="{{ article.thumbnail.url }}" class="img-fluid rounded shadow-lg rellax"
                                    data-rellax-speed="2" alt="">
                            </div>
                        </div>
                        <div class="row pt-5">

                            <!-- body Article -->
                            <div class="col-12">
                                <div class="body-article">
                                    {{ article.body_en|safe }}
                                </div>
                                <div class="pt-4 mt-4">
                                    <h5>
                                        Tags
                                    </h5>
                                    {% for tag in article.category.active %}
                                    <a href="{% url 'blog:tag' tag.slug %}"
                                        class="badge bg-dark text-light text-decoration-none">
                                        {{ tag.name_en|lower }}
                                    </a>
                                    {% endfor %}
                                </div>
                                <div class="pt-5">
                                    <h5>
                                        Short link
                                    </h5>
                                    <div class="position-relative w-auto d-inline-block">
                                        <button class="position-absolute pe-3 end-0 align-center-position btn"
                                            onclick="copyTxtInput()">
                                            <i class="far fa-copy text-dark"></i>
                                        </button>
                                        <input type="text" class="form-control w-auto pe-5 bg-light" id="shortLink"
                                            value="{% site_setting 'site_domain' %}/{{article.short_slug}}" disabled>
                                    </div>
                                </div>
                                <div class="pt-4">
                                    <div class="row writer align-items-center">
                                        <div class="col-md-3 col-5 col-lg-2">
                                            <img src="{{ article.author.thumbnail.url }}" class="rounded-pill my-3" alt="">
                                        </div>
                                        <div class=" col-lg-10 col-md-9 col-12 description">
                                            <a class='text-decoration-none text-dark'
                                                href="/{{ article.author.user_page_url }}">
                                                <h1 class="h4 mx-2">{{ article.author.full_capital_name }}</h1>
                                            </a>
                                            {% if article.author.desc %}
                                            <p class="mb-0 mx-2">
                                                {{ article.author.desc|truncatechars:200|striptags|safe }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- body Article end -->
                        </div>
                    </section>

                    <!-- message box -->
                    <section class="message-box shadow rounded mt-5 pb-1">
                        <div id="append-form">
                            <!-- form message -->
                            <form id="form-comment" method="POST">
                                {% csrf_token %}
                                <div class="form-row row justify-content-center p-3">
                                    <div class="col-12">

                                        <!-- name section in form -->
                                        <div class="my-2 align-items-end justify-content-between gy-3">
                                            <label for="title-message" class="form-label">Name</label>
                                            {{ comment_form.name }}
                                        </div>
                                        <!-- end name section -->

                                        <!-- avatar section in form -->
                                        <div class="my-2">
                                            <label for="avatar-message" class="form-label pt-2">Avatar*</label>
                                            <div id="avatar-message"
                                                class="w-100 px-3 form-control bg-light form-control-sm">
                                                <div class="mySwiper2 row overflow-hidden position-relative">
                                                    <div class="swiper-wrapper pt-2 pb-4">
                                                        {% for avatar in avatars %}
                                                        <div class="col-2 col-xl-1 swiper-slide">
                                                            <img src="{{ avatar.thumbnail.url }}" alt="avatar"
                                                                data-avatar="{{ avatar.id }}"
                                                                class="rounded-pill border border-secondary img-sm d-inline-block my-0 img-avatar"
                                                                onclick="avatarSelect(this)">
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="swiper-pagination"></div>
                                                </div>
                                            </div>
                                            <input type="hidden" id="articel_input" name="articel_input">
                                            <!-- end avatar section -->

                                            <!-- massage section in form -->
                                            <div class="my-2">
                                                <label for="text-message" class="form-label pt-2">Comment</label>
                                                {{ comment_form.desc }}
                                            </div>
                                            <!-- end message section -->


                                            <!-- submit section in form -->
                                            <button name="submit-message" type="submit"
                                                class="btn btn-outline-dark btn-sm d-block mt-3 ms-auto">
                                                submit
                                            </button>
                                            <!-- end submit section -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- form message end -->
                        </div>
                        <div class="pt-2">
                            {% for comment in comments %}

                            <div class="px-3 py-1">
                                <div class="message p-3 pb-0 mb-2 rounded ">
                                    <div class="d-flex align-items-center">

                                        {% if comment.admin %}
                                        <img src="{{ comment.admin.thumbnail.url }}"
                                            class="rounded-pill img-sm border border-3 border-secondary" alt="avatar">

                                        <div class="ps-3">
                                            <h6 class="my-1">
                                                {{ comment.admin.full_capital_name }} (admin)
                                            </h6>
                                            <p class="my-1">
                                                {{ comment.created|date:'Y/m/d H:i'}} UTC
                                            </p>
                                        </div>

                                        {% else %}
                                        {% if comment.avatar %}
                                        <img src="{{ comment.avatar.thumbnail.url }}"
                                            class="rounded-pill img-sm border border-secondary" alt="avatar">
                                        {% else %}
                                        <img src="../media/avatars/default.png"
                                            class="rounded-pill img-sm border border-secondary" alt="avatar">
                                        {% endif %}

                                        <div class="ps-3">
                                            <h6 class="my-1">
                                                {{ comment.name }}
                                            </h6>
                                            <p class="my-1">
                                                {{ comment.created|date:'Y/m/d H:i'}} UTC
                                            </p>
                                        </div>

                                        {% endif %}

                                    </div>
                                    <div class=" pt-2 my-0 p-message overflow-hidden position-relative">
                                        <p>
                                            {{ comment.desc|safe }}
                                        </p>
                                        <div class="Paragraph-cover d-none rounded-bottom position-absolute">
                                            <span class="badge bg-info float-end" onclick="showMoreMessage(this)">
                                                show more
                                            </span>
                                        </div>
                                    </div>
                                    <div>
                                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                    </div>
                                    <button class="pb-2 d-block btn ms-auto btn-sm text-decoration-none text-info"
                                        onclick="appendForm(this)">
                                        <i class="fas fa-reply text-info"></i>
                                        replay
                                    </button>
                                    <div></div>

                                    {% for comment in comment.replies.all %} {% include 'partials/comment_loop.html' %}
                                    {% endfor %}

                                </div>
                            </div>
                            {% empty %}

                            <div class="px-5 py-5 text-center">
                                be the first one to comment
                            </div>
                            {% endfor %}

                        </div>

                    </section>
                    <!-- message box end -->
                </div>
                <!-- col Left end -->

                <!-- col Right -->
                {% include 'partials/col-4.html' %}
                <!-- col Right end -->

            </div>
        </div>
    </main>
    <!-- end main -->

    <!-- Footer -->
    {% include 'partials/footer.html' %}
    <!-- Footer -->

    <!-- js refrences -->
    <script src="{% static 'blog/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/rellax.min.js' %}"></script>
    <script src="/static/blog/js/sweetalert2.all.min.js"></script>
    <script src="{% static 'blog/js/index.js' %}"></script>
    <script>
        var rellax = new Rellax('.rellax');
    </script>
    <!-- end js refrences -->
</body>

</html>