{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article|{{ article.title_en }}</title>
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'blog/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/fontawesome-free-5.15.3-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/responsiv.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/pages/articels.css' %}">
</head>

<body data-src="{{ article.thumbnail.url }}">
    <header class="thumbnail">
        <!-- navbar -->
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light position-fixed w-100">
            <div class="container">
                <!-- logo nav -->
                <a class="navbar-brand" href="/">Django Website</a>
                <!-- logo nav end -->
                <button class="navbar-toggler" onclick="btnNavbar()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/articles">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tags">Tags</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/creators">Creators</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- navbar end -->
        <div class="text-center header-img">
            <h1 class="w-100">
                {{ article.title_en }}
            </h1>
            <p class="w-100">
                for pub time , views and comment and readtime
            </p>
        </div>
    </header>

    <main class="py-5">
        <div class="container">
            <div class="row gx-md-5">

                <!-- col Left -->
                <div class="col-md-8 col-lg-9">
                    <section>
                        <div class="row justify-content-center articel-header-img">
                            <div class="col-sm-7 text-center">
                                <img src="{{ article.thumbnail.url }}" class="img-fluid rounded shadow-lg rellax" data-rellax-speed="2" alt="">
                            </div>
                        </div>
                        <div class="row pt-5">
                            <!-- body Article -->
                            <div class="col-12">
                                {{ article.body_en|safe }}
                            </div>
                            <!-- body Article end -->
                        </div>
                    </section>

                    <!-- message box -->
                    <section class="bg-white shadow rounded mt-5">
                        <div id="append-form">
                            <!-- form message -->
                            <form id="form-comment" method="POST">
                                <div class="form-row row justify-content-center p-3">
                                    <div class="col-12">
                                        <div class="my-1">
                                            <label for="title-message" class="form-label">title</label>
                                            <input id="title-message" name="title-message" class="form-control form-control-sm" type="text" placeholder="Please enter a topic">
                                        </div>
                                        <div class="my-1">
                                            <label for="text-message" class="form-label">comment text</label>
                                            <textarea name="text-message" id="text-message" cols="30" rows="5" class="form-control form-control-sm"></textarea>
                                        </div>
                                        <button name="submit-message" type="submit" class="btn btn-outline-dark btn-sm d-block mt-3 ms-auto">
                                            submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!-- form message end -->
                        </div>



                        <div class="px-3">
                            <div class="message p-3 pb-2 mb-2 rounded">
                                <div class="d-flex align-items-center">
                                    <img src="../media/img/download.jpeg" class="rounded-pill" alt="">
                                    <div class="ps-3">
                                        <h6 class="my-1">
                                            dd
                                        </h6>
                                        <p class="my-1">
                                            Lorem ipsum dolor sit amet.
                                        </p>
                                    </div>
                                </div>
                                <p class=" pt-2 my-0">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam, harum quae veritatis ratione perspiciatis eligendi sequi voluptates omnis animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam, harum quae veritatis ratione
                                    perspiciatis eligendi sequi voluptates omnis animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam, harum quae veritatis ratione perspiciatis eligendi sequi voluptates omnis animi.
                                </p>
                                <button class="d-block btn py-3 ms-auto btn-sm text-decoration-none text-info" onclick="appendForm(this)">
                                    <i class="fas fa-reply"></i>
                                    replay
                                </button>
                                <div></div>

                                <div class="message-reply">
                                    <div class="message p-3 pb-2 mb-2 rounded">
                                        <div class="d-flex align-items-center">
                                            <img src="../media/img/download.jpeg" class="rounded-pill" alt="">
                                            <div class="ps-3">
                                                <h6 class="my-1">
                                                    dd
                                                </h6>
                                                <p class="my-1">
                                                    Lorem ipsum dolor sit amet.
                                                </p>
                                            </div>
                                        </div>
                                        <p class=" pt-2 my-0">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam, harum quae veritatis ratione perspiciatis eligendi sequi voluptates omnis animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam, harum quae veritatis ratione
                                            perspiciatis eligendi sequi voluptates omnis animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam, harum quae veritatis ratione perspiciatis eligendi sequi voluptates omnis animi.
                                        </p>
                                        <button class="d-block btn py-3 ms-auto btn-sm text-decoration-none text-info" onclick="appendForm(this)">
                                            <i class="fas fa-reply"></i>
                                            replay
                                        </button>
                                        <div></div>

                                        <div class="message-reply">
                                            <div class="message p-3 pb-2 mb-2 rounded">
                                                <div class="d-flex align-items-center">
                                                    <img src="../media/img/download.jpeg" class="rounded-pill" alt="">
                                                    <div class="ps-3">
                                                        <h6 class="my-1">
                                                            dd
                                                        </h6>
                                                        <p class="my-1">
                                                            Lorem ipsum dolor sit amet.
                                                        </p>
                                                    </div>
                                                </div>
                                                <p class=" pt-2 my-0">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam, harum quae veritatis ratione perspiciatis eligendi sequi voluptates omnis animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam, harum quae veritatis ratione
                                                    perspiciatis eligendi sequi voluptates omnis animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam, harum quae veritatis ratione perspiciatis eligendi sequi voluptates omnis animi.
                                                </p>
                                                <button class="d-block btn py-3 ms-auto btn-sm text-decoration-none text-info" onclick="appendForm(this)">
                                                <i class="fas fa-reply"></i>
                                                replay
                                            </button>
                                                <div></div>
                                                <div class="message-reply">
                                                    <div class="message p-3 pb-2 mb-2 rounded">
                                                        <div class="d-flex align-items-center">
                                                            <img src="../media/img/download.jpeg" class="rounded-pill" alt="">
                                                            <div class="ps-3">
                                                                <h6 class="my-1">
                                                                    dd
                                                                </h6>
                                                                <p class="my-1">
                                                                    <i class="fas fa-calendar">2021/12/2</i>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <p class=" pt-2 my-0">
                                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam, harum quae veritatis ratione perspiciatis eligendi sequi voluptates omnis animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam, harum quae veritatis ratione
                                                            perspiciatis eligendi sequi voluptates omnis animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam, harum quae veritatis ratione perspiciatis eligendi sequi voluptates
                                                            omnis animi.
                                                        </p>
                                                        <button class="d-block btn py-3 ms-auto btn-sm text-decoration-none text-info" onclick="appendForm(this)">
                                                            <i class="fas fa-reply"></i>
                                                            replay
                                                        </button>
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- message box end -->
                </div>
                <!-- col Left end -->

                <!-- col Right -->
                <div class="col-md-4 col-lg-3">
                    <div class="sidebar mt-md-0 mt-4">
                        <div class="py-4 pt-md-0">
                            <h5 class="pb-2">About Us</h5>
                            <p>
                                {{ site_setting.about|safe }}
                            </p>
                        </div>
                        <div class="pb-4">
                            <h5 class=" pb-2">All Tags</h5>
                            <div>
                                {% for category in categories %}
                                <a href="{% url 'blog:tag' category.slug %}" class="badge bg-info text-light text-decoration-none">
                                        {{ category.name_en }}
                                    </a> {% endfor %}
                            </div>
                        </div>
                        <div class="pt-4">
                            <h5 class=" pb-2">Social Networks</h5>
                            <div class="social-networks">
                                <a href="#" class="text-decoration-none position-relative">
                                    <i class="fab fa-telegram-plane"></i>
                                    <div class="back-icon"></div>
                                </a>
                                <a href="#" class="text-decoration-none position-relative">
                                    <i class="fab fa-instagram"></i>
                                    <div class="back-icon"></div>
                                </a>
                                <a href="#" class="text-decoration-none position-relative">
                                    <i class="fab fa-github"></i>
                                    <div class="back-icon"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col Right end -->
            </div>
        </div>
    </main>
    <!-- end main -->

    <!-- Footer -->
    <footer class="text-center bg-dark text-white" style='cursor: default;'>
        <!-- add class curosr default in the future -->
        <div class="text-center p-3">
            Created with
            <div class="position-relative d-inline-block w-auto h-auto" id="like_footer">
                <i class="far fa-heart"></i>
                <i class="fas fa-heart position-absolute"></i>
            </div>
            by
            <a class=" px-1 text-white" href="/alireza">Alireza</a> and
            <a class=" px-1 text-white" href="/amir">Amir</a>
        </div>
    </footer>
    <!-- Footer -->

    <!-- js refrences -->
    <script src="{% static 'blog/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/rellax.min.js' %}"></script>
    <script src="{% static 'blog/js/index.js' %}"></script>
    <!-- end js refrences -->
</body>

</html>