{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.full_capital_name }}</title>
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">

    <!-- css refrences -->
    <link rel="stylesheet" href="{% static 'blog/fontawesome-free-5.15.3-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/responsiv.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/pages/profile.css' %}">
    <!-- css refrences -->

    <!-- meta tags -->
     <meta property="og:locale" content="en_IR" />
     <meta property="og:type" content="Website" />
     <meta property="og:site_name" content="Shalgham" />
     <meta property="article:section" content="Creator" />
     <meta property="og:image:width" content="700" />
     <meta property="og:image:height" content="345" />
     <meta name="twitter:card" content="summary_large_image" />
     <meta property="og:url" content="https://{{ request.get_host }}{{ data.get_user_page_url }}" />
     <meta property="og:title" content="{{ data.full_capital_name }}" />
     <meta name="twitter:title" content="{{ data.full_capital_name }}" />
     <meta property="og:image:alt" content="{{ data.get_first_name }}" />
     <meta property="og:image" content="https://{{ request.get_host }}{{ data.thumbnail.url }}" />
     <meta name="twitter:image" content="https://{{ request.get_host }}{{ data.thumbnail.url }}" />
    <!-- end meta tags -->

</head>

<body>
    <header class="thumbnail">

        <!-- navbar -->
        {% include 'partials/navbar.html' %}
        <!-- navbar end -->

    </header>
    <main class="pt-5">
        <div class="container">
            <div class="row gx-md-5 justify-content-center">
                <div class="col-10 col-md-8 col-xl-7">
                    <div id="profile-master" data-rellax-speed="3"
                        class="w-100 position-relative px-4 text-center rellax">
                        <img src="{{ data.thumbnail.url }}" class="rounded-pill p-2 bg-white" alt="">
                    </div>
                    <section class="py-3">
                        <h1 class="text-center pb-3">
                            {{ data.full_capital_name }}
                        </h1>
                        <h5 class="text-center font-weight-normal">
                            {% for skill in data.get_skills %}
                                {% if not forloop.last %}
                                    <span class="p-2 d-inline-block">{{ skill|title }}</span> |
                                {% else %}
                                    <span class="p-2 d-inline-block">{{ skill|title }}</span>
                                {% endif %}
                            {% endfor %}
                        </h5>
                    
                        <div class="text-center icon-social-networks pt-4">
                            {% if data.telegram  %}
                                <a href="{{ data.telegram }}" class="px-2"><i class="fab fa-telegram-plane text-dark"></i></a>
                            {% endif %}
                            {% if data.instagram  %}
                                <a href="{{ data.instagram }}" class="px-2"><i class="fab fa-instagram text-dark"></i></a>
                            {% endif %}
                            {% if data.github  %}
                                <a href="{{ data.github }}" class="px-2"><i class="fab fa-github text-dark"></i></a>
                            {% endif %}
                            {% if data.linkedin %}
                                <a href="{{ data.linkedin }}" class="px-2"><i class="fab fa-linkedin text-dark"></i></a>
                            {% endif %}

                        </div>
                        <p class="pt-4">
                            {{ data.desc|safe }}
                        </p>
                        {% if data.articles.active %}
                            <h4 class="text-center py-3">
                            All articles by me
                                <a href="{% url 'blog:author-articles' data.username %}"
                                class="text-info text-decoration-none fw-bold"><small>Click here</small></a> 
                            </h4>
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    {% include 'partials/footer.html' %}
    <!-- Footer -->

    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/rellax.min.js' %}"></script>
    <script src="{% static 'blog/js/index.js' %}"></script>

    <script>
        var rellax = new Rellax('.rellax');
    </script>
</body>

</html>