{% load static %} {% load template_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if search %}
        <title>Search | {{ search }}</title>
    {% else %}
        <title>Search</title>
    {% endif %}
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">

    <!-- css refrences -->
    <link rel="stylesheet" href="{% static 'blog/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/fontawesome-free-5.15.3-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/responsiv.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/pages/search.css' %}">
    <!-- end css refrences -->

    <!-- meta tags -->
    <meta property="og:locale" content="en_IR" />
    <meta property="og:type" content="Search" />
    <meta property="og:site_name" content="Shalgham" />
    <meta property="article:section" content="Search" />
    <meta property="og:description" content="Search through all the articles and tags in Shalgham and find what you want" />
    <meta property="twitter:description" content="Search through all the articles and tags in Shalgham and find what you want" />
    <meta property="og:title" content="Search in Shalgham" />
    <meta name="twitter:title" content="Search in Shalgham" />
    <meta property="og:url" content="https://{{ request.get_host }}{% url 'blog:search' %}" />
    <!-- end meta tags -->

</head>

<body data-src="/media/bg.jpg">
    <header class="thumbnail">

        <!-- navbar -->
        {% include 'partials/navbar.html' %}
        <!-- navbar end -->

        <!-- search form -->
        <div class="bg-white pt-0 pt-sm-5">
            <form name="search_form" class="pt-5" action="/search" method="GET" onsubmit="return submitSearch()">
                <div class="py-5 form-row mx-auto px-3">
                    <div class="d-flex">
                        <input type="text" class="form-control" id="searchInput" name="q" placeholder="What are you looking for?" value='{{ search }}'>
                        <button type="submit" class="btn btn-info ms-2">
                            search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- search form end -->

    </header>
    <main class="py-5 bg-light">
        <div class="container">
            <div class="row gx-md-5">

                <!-- col Left -->
                <div class="col-md-8 col-lg-9">
                    <!-- Articles found -->
                    <section>
                        {% if search %}
                            <h5 class="text-center">
                                Article Search Results
                            </h5>

                            {% for article in articles %}
                                <!-- if user searched something here we show results -->
                                <div class="card rounded my-4 overflow-hidden">
                                    <div class="row g-0">
                                        <a class="col-lg-6 col-xl-5 p-3" href="{% url 'blog:article_slug' article.slug %}">
                                            <div class="img-card h-100 rounded" data-src="'{{ article.thumbnail.url }}'"></div>
                                        </a>
                                        <div class="col-lg-6 col-xl-7 p-3">
                                            <a href="{% url 'blog:article_slug' article.slug %}" class="pb-3 text-dark text-decoration-none h5">
                                                {{ article.title_en|capfirst }}
                                            </a>
                                            <p class="mb-3">
                                                {{ article.desc_en|capfirst|safe|truncatechars:100 }}
                                            </p>
                                            {% for category in article.category.active %}
                                            <a href="{% url 'blog:tag' category.slug %}" class="badge bg-info text-light text-decoration-none">
                                                        {{ category.name_en|lower }}
                                                    </a> {% endfor %}
                                            <div class="icons-card pt-2 mt-3">
                                                <div class="d-inline-flex w-auto align-items-center flex-wrap">
                                                    <i class="fas fa-calendar"></i>
                                                    <p class="m-0 ps-1 pe-2">{{ article.created|date:'Y/m/d' }}</p>
                                                </div>
                                                <div class="d-inline-flex w-auto align-items-center flex-wrap">
                                                    <i class="fas fa-eye"></i>
                                                    <p class="m-0 ps-1 pe-2">{{ article.views }}</p>
                                                </div>
                                                <div class="d-inline-flex w-auto align-items-center flex-wrap">
                                                    <i class="fas fa-clock"></i>
                                                    <p class="m-0 ps-1 pe-2">{{ article.readtime }}</p>
                                                </div>
                                                <div class="d-inline-flex w-auto align-items-center flex-wrap">
                                                    <i class="fas fa-comment"></i>
                                                    <p class="m-0 ps-1 pe-2">{{ article.comments.active|length }}</p>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <a href="{{ article.author.get_user_page_url }}" class="pe-3 text-decoration-none mt-4 text-dark d-inline-flex align-items-center">
                                                    <img src="{{ article.author.thumbnail.url }}" class="img-sm rounded-pill" alt="">
                                                    <div class="px-2">
                                                        <span>
                                                            {{ article.author.full_capital_name }}
                                                        </span>
                                                    </div>
                                                </a>
                                                <a href="{% url 'blog:article_slug' article.slug %}" class="btn btn-outline-dark d-block ms-auto mt-4">
                                                    more
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}

                            <!-- if user search something and there are no result about that -->
                                <div class="container">
                                    <div class="row m-5">
                                        <div class="text-center">
                                            Nothing matched 😩
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% if error %}
                                <!-- if user there is error -->
                                <div class="container">
                                    <div class="row">
                                        <div class="text-center text-danger">
                                            Enter at least two letters❗️
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <!-- if user just opened search page -->
                                <div class="container">
                                    <div class="row">
                                        <div class="text-center">
                                            First search something 🔍
                                        </div>
                                    </div>
                                </div>                            
                            {% endif %}
                        {% endif %}
                    </section>
                    <!--  Articles found end -->
                    <section class='mt-5'>
                        {% if search %}
                            <h5 class="text-center">
                                Tags Search Results
                            </h5>
                            <div class="row gy-2 ">
                                {% for category in categories %}
                                    <div class="col-12 col-sm-auto">
                                        <a href="{% url 'blog:tag' category.slug %}" class="text-decoration-none text-dark tag">
                                            <div class="m-1 d-flex nowrap rounded p-2 shadow align-items-center">
                                                <div class="img-tag rounded" data-src="{{ category.thumbnail.url }}"></div>
                                                <div class="ps-2">
                                                    <h5 class="m-0">
                                                        {{ category.name_en }}
                                                    </h5>
                                                    <p class="w-100 m-0">
                                                        <i class="fas fa-tags"></i>
                                                        {{ category.articles.active|length }}
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% empty %}

                                    <!-- if user search something and there are no result about that -->
                                    <div class="container">
                                        <div class="row m-5">
                                            <div class="text-center">
                                                Nothing matched 😩
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>    
                        {% endif %}           
                    </section>
                </div>
                <!-- col Left end -->

                <!-- col Right -->
                {% include 'partials/col-4.html' %}
                <!-- col Right end -->
            </div>
        </div>
    </main>
    <!-- end main -->

    <!-- Footer -->
        {% include 'partials/footer.html' %}
    <!-- Footer -->

    <!-- js refrences -->
    <script src="{% static 'blog/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/index.js' %}"></script>
    <!-- end js refrences -->
</body>

</html>