{% load template_tags %}

<!-- col Right -->
<div class="col-md-4 col-lg-3">
    <div class="sidebar mt-md-0 mt-4">

        {% if page == 'search' %}

            <div class="py-4 pt-md-0">
                <h5 class="pb-2">Last Tags</h5>
                <div>
                    {% col_4_tags %}
                </div>
            </div>

        {% elif page == 'tags' %}

            {% include 'partials/col_4_search.html' %}

        {% else %}

            {% include 'partials/col_4_search.html' %}

            <div class="py-4">
                <h5 class=" pb-2">Last Tags</h5>
                <div>
                    {% col_4_tags %}
                </div>
            </div>

        {% endif %}

        
        <div class="py-4">
            <h5 class="pb-2">About Us</h5>
            <p>
                {% col_4_about %}
            </p>
        </div>

        <div class="pb-4">
            <h5 class=" pb-2">Creators</h5>
            {% col_4_social %}
        </div>

        
    </div>
</div>
<!-- col Right end -->
