<div class="py-4 pt-md-0">
    <h5 class="pb-2">Search</h5>
    <form class="position-relative d-inline-block" id="input_search" action="/search" onsubmit="return submitSearch(this)">
        <input id="searchInput" name="q" type="text" placeholder="Search in Shalgham..." class="form-control pe-5 form-control-sm bg-light rounded-pill">
        <span class="text-danger small d-none" id="inputErorr">Enter at least two letters !</span>
        <button type="submit" class="position-absolute border-0">
            <i class="fas text-dark fa-search py-2 px-0 text-dark"></i>
        </button>
    </form>
</div>