<div class="social-networks">
    <div>
        <div href="#" class=" position-relative icon-social-networks" onclick="funcSocialNetworks(event)">
            <i class="fab fa-telegram-plane text-dark"></i>
            <span class="back-icon"></span>
        </div>
        <div class="AvatarSocialNetworks">
            <div class=" rounded shadow">
            {% for creator in creators %}
                {% if creator.telegram %}
                    <a href="{{ creator.telegram }}">
                        <img src="{{ creator.thumbnail.url }}" alt="" class="img-sm rounded-pill">
                    </a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    <div>
        <div href="#" class=" position-relative icon-social-networks">
            <i class="fab fa-instagram text-dark"></i>
            <span class="back-icon"></span>
        </div>
        <div class="AvatarSocialNetworks">
            <div class=" rounded shadow">
                {% for creator in creators %}
                    {% if creator.instagram %}
                        <a href="{{ creator.instagram }}">
                            <img src="{{ creator.thumbnail.url }}" alt="" class="img-sm rounded-pill">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div>
        <div href="#" class=" position-relative icon-social-networks">
            <i class="fab fa-github text-dark"></i>
            <span class="back-icon"></span>
        </div>
        <div class="AvatarSocialNetworks">
            <div class=" rounded shadow">
                {% for creator in creators %}
                    {% if creator.github %}
                        <a href="{{ creator.github }}">
                            <img src="{{ creator.thumbnail.url }}" alt="" class="img-sm rounded-pill">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>