{% load template_tags %}
<div class="message p-3 pb-2 mb-3 rounded position-relative">
    <div class="d-flex align-items-center">
        {% if comment.admin %}
            <img src="{{ comment.admin.thumbnail.url }}" class="rounded-pill img-sm border border-3 border-secondary" alt="avatar">
           
            <div class="ps-3">
                <h6 class="my-1">
                    {{ comment.admin.full_capital_name }} (admin)
                </h6>
                <p class="my-1">
                    {{ comment.created|date:'Y/m/d H:i'}} UTC
                </p>
            </div>

        {% else %}
            {% if comment.avatar %}
                <img src="{{ comment.avatar.thumbnail.url }}" class="rounded-pill img-sm border border-secondary" alt="avatar">
            {% else %}
                <img src="../media/avatars/default.png" class="rounded-pill img-sm border border-secondary" alt="avatar">
            {% endif %}

            <div class="ps-3">
                <h6 class="my-1">
                    {{ comment.name }}
                </h6>
                <p class="my-1">
                    {{ comment.created|date:'Y/m/d H:i'}} UTC
                </p>
            </div>
        {% endif %}
    </div>
    <p class=" pt-2 my-0 p-message">
        {{ comment.desc|safe }}
    </p>
    <div class="Paragraph-cover position-absolute d-none">
        <span class="badge bg-info float-end" onclick="showMoreMessage(this)">
                                            show more
                                        </span>
    </div>
    <div>
        <input type="hidden" name="parent_id" value="{{ comment.id }}">
    </div>
    <button class="d-block btn ms-auto btn-sm text-decoration-none text-info" onclick="appendForm(this)">
                                        <i class="fas fa-reply text-info"></i>
                                        replay
                                    </button>
    <div></div>

    {% for comment in comment.replies.all %} {% include 'partials/comment_loop.html' %} {% endfor %}


</div>