    <!-- Footer -->
    <footer class="text-center text-light bg-dark" style='cursor: default;'>
        <!-- add class curosr default in the future -->
        <div class="text-center p-3">
            Created with
            <div class="position-relative d-inline-block w-auto h-auto" id="like_footer">
                <i class="far fa-heart"></i>
                <i class="fas fa-heart position-absolute"></i>
            </div>
            by
            <a class=" px-1" href="/alireza">Alireza</a> and
            <a class=" px-1" href="/amir">Amir</a>
        </div>
    </footer>
    <div class="btn-dark-mode">
        <div class="btn text-dark rounded-pill" onclick="toggleDarkMode()"><i name="moon" class="dark-mode-button fas fa-moon"></i></div>
        <input class=" form-check-input" type="checkbox" id="lightSwitch" hidden/>
    </div>
    <!-- Footer -->
